<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clinical Records — Restore Medical Center</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css"
    />
    <link rel="icon" href="data:," />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary px-4">
      <span class="navbar-brand fw-bold">Clinical Records</span>
      <a href="/patients" class="btn btn-outline-light btn-sm"
        >Back to Patients</a
      >
    </nav>

    <div class="container mt-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 id="patientName">Encounters</h3>
        <button class="btn btn-success" id="newEncounterBtn">
          <i class="bi bi-plus-circle me-2"></i>New Encounter
        </button>
        <button
          class="btn btn-outline-secondary btn-sm me-2"
          id="viewArchivedEncBtn"
        >
          View Archived
        </button>
      </div>

      <div id="encountersList" class="list-group"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/auth.js"></script>
    <script src="/static/js/encounter.js"></script>
    <!-- <script src="/static/js/encounters.js"></script> -->
  </body>
</html>
