<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients - Restore Medical center</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-dark bg-primary px-4">
      <span class="navbar-brand fw-bold">Restore Medical Center</span>
      <a href="/" class="btn btn-outline-light btn-sm">dashboard</a>
    </nav>

    <div class="container mt-4">
      <!-- PAGE HEADER -->
      <div class="d-flex justify-content-between align-item-center mb-3">
        <h4 class="fw-bold">Patients</h4>
        <button class="btn btn-primary" id="registerBtn">
          Register Patient
        </button>
      </div>

      <!-- SEARCH BAR -->
      <input
        type="text"
        id="SearchInput"
        class="form-control mb-3"
        placeholder="Search patient by name..."
      />

      <!-- PATIENT TABLE -->
      <table class="table table-hover">
        <thead class="table-primary">
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="patientsTableBody"></tbody>
        <!-- Javascript -->
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/patients.js"></script>
  </body>
</html>
